@model IEnumerable<KangaApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to Our Product Page</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <a asp-action="GetProductsDetails">Product Details</a>
</p>
